body {
    background-color: lightblue;
    font-family: "Geom";
}

a {
    color: white;
}

#header {
    background-color:#6d8ea0;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
}

.header-item {
    margin: 0 20px;
}

#hero {
    background-color: #016fb9;
    height: 550px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20%;
    margin: 0 auto;
    max-width: 1200px;
    /* flex-wrap: nowrap; */
}

#hero-text {
    width: 800px;
    /* height: 70%; */
    color: white;
    font-size: larger;
    padding: 0 0 0 3%;
    /* border: 1px solid black; */

    /* Make the text float "above" the image */
    position: relative;
    z-index: 2;
}

#name-style {
    color: #afa98d;
}

#hero-button {
    color: #afa98d;
    /* border: 1px solid black; */
    display: inline-block;
    padding: 10px 30px;
    margin-top: 20px;
    /* margin-left: 30%; */

    /* Button styling */
    border: 2px solid #afa98d;
    text-decoration: none;
    border-radius: 8px;
    font-weight: bold;
}

#hero-button:hover {
    background-color: #afa98d; /* Fill it with gold */
    color: white;              /* Make text white to contrast */
    cursor: pointer;           /* Shows the hand icon */
}

#hero-image {
    width: 50%;
    padding: 0 16% 0 0;
    /* border: 1px solid black; */

    /* "Forcing" the image 150px to the left "under the text" */
    margin-left: -150px; 
    
    position: relative;
    z-index: 1;
    
}

#profile-pic {
    display: block;
    object-fit: cover;
}

#about {
    background-color: #22aed1;
    height: 200px;
    padding: 2% 22%;
}

#main-section {
    background-color: #016fb9;
    padding: 2% 22%;
}

#footer {
    background-color: #6d8ea0;
    padding: 2% 22%;
    margin: 0 auto;
}