body {
    background-color: lightblue;
    font-family: "Geom";
}

#header {
    background-color:#6d8ea0;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
}

.header-item {
    margin: 0 20px;
}

#main {
    background-color:coral;
}

#hero {
    background-color: #016fb9;
    height: 600px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20%;
    margin: 0 auto;
    max-width: 1200px;
}

#hero-text {
    width: 45%;
    height: 70%;
    color: white;
    font-size: larger;
    /* border: 1px solid black; */
}

#name-style {
    color: #afa98d;
}

#hero-button {
    color: #afa98d;
    /* border: 1px solid black; */
    display: inline-block;
    padding: 10px 30px;
    margin-top: 20px;
    margin-left: 30%;

    /* Button styling */
    border: 2px solid #afa98d;
    text-decoration: none;
    border-radius: 8px;
    font-weight: bold;
}

#hero-button:hover {
    background-color: #afa98d; /* Fill it with gold */
    color: white;              /* Make text white to contrast */
    cursor: pointer;           /* Shows the hand icon */
}

#profile-pic {
    display: block;
    object-fit: cover;
}

#about {
    background-color: #22aed1;
    padding: 2% 20%;
}

#main-section {
    background-color: #016fb9;
    padding: 2% 20%;
}

#footer {
    background-color: #6d8ea0;
    padding: 2% 20%;
    margin: 0 auto;
}